{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="{% static "css/blog.css" %}" rel="stylesheet" media="screen">
    <link type="text/css" href="{% static "css/main.css" %}" rel="stylesheet" media="screen">
    <style>
        input {
            max-width: 12em
        }

        .content-section {
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    {% include "navbar.html" %}
    <div id="content" class="page-content">
        <div class="container-fluid">
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{message }}
            </div>
            {% endfor %} {% endif %} {% block content %} {% endblock %}
        </div>
    </div>
    {% include "footer.html" %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        jQuery(function () {
            $("#id_input").on('keyup', function () {
                var value = $(this).val();
                $.ajax({
                    url: "{% url 'ajax_autocomplete' %}",
                    data: {
                        'search': value
                    },
                    dataType: 'json',
                    success: function (data) {
                        list = data.list;
                        $("#id_input").autocomplete({
                            source: list,
                            minLength: 1
                        });
                    }
                });
            });
        });
        $(document).ready(function (event) {
            $('.dropdown-toggle').dropdown()

            $('.reply-btn').click(function () {
                $(this).parent().parent().next('.replied-comments').fadeToggle()
            });

            $(document).on('click', '#like', function (event) {
                event.preventDefault();
                var pk = $(this).attr('value');
                $.ajax({
                    type: 'POST',
                    url: '{% url "like-post" %}',
                    data: { 'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                    dataType: 'json',
                    success: function (response) {
                        $('#like-section').html(response['form'])
                        console.log($('#like-section').html(response['form']));
                    },
                    error: function (rs, e) {
                        console.log(rs.responseText);
                    },
                });
            });

            $(document).on('submit', '.comment-form', function (event) {
                event.preventDefault();
                console.log($(this).serialize());
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (response) {
                        $('.main-comment-section').html(response['form']);
                        $('textarea').val('');
                        $('.reply-btn').click(function () {
                            $(this).parent().parent().next('.replied-comments').fadeToggle();
                            $('textarea').val('');
                        });
                    },
                    error: function (rs, e) {
                        console.log(rs.responseText);
                    },
                });
            });
            $(document).on('submit', '.reply-form', function (event) {
                event.preventDefault();
                console.log($(this).serialize());
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    dataType: 'json',
                    success: function (response) {
                        $('.main-comment-section').html(response['form']);
                        $('textarea').val('');
                        $('.reply-btn').click(function () {
                            $(this).parent().parent().next('.replied-comments').fadeToggle();
                            $('textarea').val('');
                            $('.dropdown-toggle').dropdown();
                        });
                    },
                    error: function (rs, e) {
                        console.log(rs.responseText);
                    },
                });
            });
        });
    </script>
    {% block javascript %}
    {% endblock javascript %}
</body>

</html>