<footer class="footer text-white">
    <div class="row">
        <div class="col-4">
            <h5>Đồ án môn học Lập trình ứng dụng Web - NT208.K21.ANTT</h5>
            <p>Đề tài: Trang Web sách/(truyện), lập chỉ mục và tìm kiếm (auto complete, suggestion)</p>
        </div>
        <div class="col-4">
            <h5>Danh sách nhóm</h5>
            <p>Lê Qúy Hiển - 16520362</p>
            <p>Nguyễn Tuấn Khôi - 16520611</p>
            <p>Hoàng Hữu Thắng - 16521096</p>
        </div>
        <div class="col-4">
            <h5>Giáo viên hướng dẫn</h5>
            <p>Trần Tuấn Dũng</p>
            <small><a href="https://dungtran.top/">Trang web của thầy</a></small>
        </div>
    </div>
</footer>