<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'post-list' %}">Đọc Truyện nè</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <form action="blog:genre_list">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:genre-list' %}">Thể Loại</a>
          </li>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="navbar-item nav-link" href="{% url 'profile' %}">Profile</a>
          </div>
        </form>        
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'search_list' %}">
        <input type="text" id="id_input" name="q" value="{{ request.get.q }}"class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if request.user.profile.image %}
              <img class="rounded-circle account-img" src="{{ request.user.profile.image.url }}" width="30px" height="30px">
            {% else %}
              <img src="../../media/images/None/default.jpg">
            {% endif %}
            <span>{{ request.user|capfirst }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="navbar-item nav-link" href="{% url 'profile' %}">Profile</a>
              <a class="navbar-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="navbar-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="navbar-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </li>                              
      </div>
    </div>
  </nav>