<ul class="pagination">
  {% if posts.has_previous %}
    {% if 'q' in request.GET %}
    <li class="page-item">
      <a href="?q={{ request.get.q }}&&page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
    </li>
    {% else %}
    <li class="page-item">
      <a href="?page={{ posts.previous_page_number }}" class="page-link">&laquo;</a>
    </li>
    {% endif %}
  {% endif %}

  {% for p in page_range %}
    {% if posts.number == p %}
      {% if 'q' in request.GET %}
        <li class="page-item active">
          <a href="?q={{ request.get.q }}&&page={{ p }}" class="page-link">{{ p }}</a>
        </li>
      {% else %}
        <li class="page-item active">
          <a href="?page={{ p }}" class="page-link">{{ p }}</a>
        </li>
      {% endif %}
    {% else %}
      {% if 'q' in request.GET %}
        <li class="page-item">
          <a href="?q={{ request.get.q }}&&page={{ p }}" class="page-link">{{ p }}</a>
        </li>
      {% else %}
        <li class="page-item">
          <a href="?page={{ p }}" class="page-link">{{ p }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if posts.has_next %}
    {% if 'q' in request.GET %}
      <li class="page-item">
        <a href="?q={{ request.get.q }}&&page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item">
        <a href="?page={{ posts.next_page_number }}" class="page-link">&raquo;</a>
      </li>
    {% endif %}
  {% endif %}
</ul>
