<section class="regular slider">
    <div>
      <img width="350" height="300" src="../../media/cover_img/92693764_3085180801708277_5955992180572028928_o.jpg">
    </div>
    <div>
      <img width="350" height="300" src="../../media/images/1154d67b4a6efe808e7e051b895a5765.png">
    </div>
    <div>
      <img width="350" height="300" src="http://placehold.it/350x300?text=3">
    </div>
    <div>
      <img width="350" height="300" src="http://placehold.it/350x300?text=4">
    </div>
    <div>
      <img width="350" height="300" src="http://placehold.it/350x300?text=5">
    </div>
    <div>
      <img width="350" height="300" src="http://placehold.it/350x300?text=6">
    </div>
</section>