{% extends "base.html" %} {% block title %}My Blog{% endblock %} {% block content %}
<div>
    <h2>{{ genre.name }}</h2>
</div>
<div class="row">
    {% for post in genre.posts.all %}
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <a href="{{ post.get_absolute_url }}">
                <img class="card-img-top" width="350" height="300" src="{{ post.image_cover.url }}" alt="Card image cap">
            </a>
            <div class="card-body">
                <a href="{{ post.get_absolute_url }}">
                    <h5 class="card-title"> {{ post.title }}</h5>
                </a>
                <p class="card-text date">Published {{ post.publish }} by {{ post.user }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
 {% endblock %}