{% extends "base.html" %} 
 
{% block title %}{{ post.title }}{% endblock %} 
 
{% block content %} 
  <h1>{{ post.title }}</h1> 
  <p class="date"> 
    Published {{ post.publish }} by {{ post.user }} 
  </p>
  <img width="286" height="300" src="{{ post.image_cover.url }}" /><br>
  Nội Dung:<br>
  {{ post.body|linebreaks }} 
  {% for chap in post.chaps.all %}
  <h2>
      <a href="{{ chap.get_absolute_url }}">
        {{ chap.title }}<br>      </a>
    </h2>
  {% endfor %} 
  {% comment %} {% for chap in object.post.images.all %}
    <img src="{{ chap.image.url }}" /><br>
  {% endfor %} {% endcomment %}
  
{% endblock %}