
.card-body a {
  color: black ;

}
.card-body a:hover {
  text-decoration: none;  
}

.genre-btn {
  background-color: white;
}

.genre-btn {
  color: black ;
}

.genre-btn:hover {
  text-decoration: none;
  background-color: black;
  color: white ;
}

.vertical-menu {
  width: auto;
  height: 400px;
  overflow-y: auto;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.more-btn {
  color: black ;
}

.more-btn:hover {
  text-decoration: none;
  color: black ;
}
