html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 160px;
}

.card-body a {
  color: black ;

}
.card-body a:hover {
  text-decoration: none;  
}

.genre-btn {
  background-color: white;
}

.genre-btn {
  color: black ;
}

.genre-btn:hover {
  text-decoration: none;
  background-color: black;
  color: white ;
}

.vertical-menu {
  width: auto;
  height: 400px;
  overflow-y: auto;
}

.vertical-menu a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.more-btn {
  color: black ;
}

.more-btn:hover {
  text-decoration: none;
  color: black ;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #2C3E50;
}

.footer p {
  text-align: justify;
}